<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054568346467-0s43ee4vu90udoaa641eo6tnn9s5udj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054568346467-0s43ee4vu90udoaa641eo6tnn9s5udj2</string>
	<key>API_KEY</key>
	<string>AIzaSyAR1Oy5VvhJRl8CNB7_XiqUKVExI_RSplo</string>
	<key>GCM_SENDER_ID</key>
	<string>1054568346467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chaibun.newcbapp</string>
	<key>PROJECT_ID</key>
	<string>chaibunf-311ce</string>
	<key>STORAGE_BUCKET</key>
	<string>chaibunf-311ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054568346467:ios:24ac9265e5a43f769f9956</string>
</dict>
</plist>